<div class="toolbar" role="banner">
  <img width="100" alt="BSE Sensex"
    src="https://upload.wikimedia.org/wikipedia/commons/1/14/Bse_new_logo_21-Nov_2012.jpg" />
  <span>BSE Sensex</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <table class="table table-bordered stock-table">
    <thead>
      <tr>
        <th>Open</th>
        <th>Close</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockData">
        <td>{{stock.open}}</td>
        <td>{{stock.close}}</td>
        <td>{{stock.date | date:'dd-MMMM-y'}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" (click)="open(mymodal)">Add</button>
    </div>
  </div>
  <nav aria-label="..." *ngIf="paginationArr.length > 0">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{disabled: currentPage === 1}">
        <a class="page-link" (click)="currentPage !== 1 && getAllStockes(currentPage - 1)" tabindex="-1">Previous</a>
      </li>
      <li class="page-item" [ngClass]="{active: pageNo === currentPage}" *ngFor="let pageNo of paginationArr">
        <a class="page-link" (click)="getAllStockes(pageNo)">{{pageNo}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item" [ngClass]="{disabled: currentPage === totalPages}">
        <a class="page-link" (click)="currentPage !== totalPages && getAllStockes(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
